QMainWindow{
    background: #000;
    color: #eeeeee;
    font-family: "Noto Sans", "Segoe UI", sans-serif;
    font-size: 13px;
}

#nowPlaying {
    background: #171717;
    border-bottom: 1px solid #232323;
}

#NowDisplay{
    background: #000000;
    border radius:16px;
}

#playlistMenu{
    border-top: 1px solid #242424;
}


#cover {
    background: #101010;
    border: 1px solid #202020;
}
#trackTitle {
    color: #f5f5f5;
    font-size: 19px;
    font-weight: 700;
    margin: 2px;
    margin-left:10px;
}
#metaText {
    color: #a8a8a8;
    font-size: 14px;
    margin: 2px;
    margin-left:10px;
}
#durationText {
    color: #fff;
}
#statusText {
    color: #8f8f8f;
    padding: 5px 10px;
    border-top: 1px solid #161616;
}
QTableWidget {
    background: #000000;
    color: #f2f2f2;
    selection-background-color: #151515;
    selection-color: #ffffff;
    border: 0;
    outline: 0;
}
QTableWidget::item {
    padding: 3px 6px;
    border: 0;
}
QTableWidget::item:hover {
    padding: 3px 6px;
    border: 0;
}

QPushButton, QComboBox {
    background: transparent;
    color: #d7d7d7;
    border: none;
    padding: 5px 0px;
    min-height: 22px;
    qproperty-iconSize: 30px 30px; 
    border-radius: 5px;
}
#buttonRow > QPushButton:hover{
    background: rgba(100,100,100,0.5);
}


#playlistMenu > QPushButton {
    qproperty-iconSize: 30px 30px; 
    margin: 5px;
    padding: 3px 2px;

}

QPushButton#save_button{
    qproperty-iconSize: 26px 26px; 
    padding: 5px 2px;
}

QListView {
    background-color: #191919;
    border: none;
    padding: 0px;
    margin: 0px;
}
QListView::item {
    background-color: #191919;
    color: white;
    padding: 8px 10px;
    border: none;
}
QComboBox::drop-down {
    border: none;
}

QComboBox QAbstractItemView {
    outline: none;
}

QPushButton:hover, QComboBox:hover {
    background: #191919;
    border-color: #3a3a3a;
}
QLineEdit {
    background: #333;
    color: #eeeeee;
    border: 1px solid #242424;
    padding: 5px 8px;
    margin: 5px;
}
QSlider::groove:horizontal {
    background: #555;
    height: 4px;    
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: transparent;     
    border: 1px solid transparent; 
    width: 10px;             
    height: 12px;           
    border-radius: 6px;   
    margin: -4px 0;         
}
QSlider::handle:horizontal:hover {
    background: #FFF;
    border: 1px solid #FFF;
}

QSlider::handle:horizontal:pressed {
    background: #FFF;
    border: 1px solid #FFF;
}
QSlider::sub-page:horizontal {
    background: #bdbdbd;
}
#waveformSeekBar {
    background: #0b0b0b;
    border: 1px solid #222222;
    border-radius: 10px;
}

VisualizerWindow{
        qproperty-barColorLow: #6d6d6d;
        qproperty-barColorMid: #6d6d6d;
        qproperty-barColorHigh: #6d6d6d;
        qproperty-barColorPeak: #6d6d6d;
        margin: 20px;
}

PlaylistWidget{
    qproperty-treakColorCurrent: #fff;
    qproperty-treakBgColorCurrent: #000;

    qproperty-treakColor:#bbb;

    qproperty-treakColorNotLoaded: #a5a5a5;
    qproperty-treakBgColorNotLoaded: #111;

    qproperty-treakColorUnavailable: #333333;
    qproperty-treakBgColorUnavailable: #000;
}



QWidget#MainMenuBar {
    background-color: rgba(0, 0, 0, 50); 
}
QWidget#MainMenuBar QPushButton {
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI', Arial;
    font-size: 13px;
    padding: 0px 6px;
    border: none;
    border-radius: 0px;
}
QWidget#MainMenuBar QPushButton:hover {
    background-color: rgba(255, 255, 255, 40);
}

QWidget#MainMenuBar QPushButton::menu-indicator {
    image: none; 
}
